video_server/
run_exp/results/
run_exp/chrome_retry_log
rl_server/results/
rl_server/*.pyc
selenium-2.39.0/
test/cooked_traces/
test/results/
test/*.pyc
test/video_size*
selenium-2.39.0.tar.gz
google-chrome-stable*
.DS_Store
sim/*.pyc
sim/results/*
run_exp/results_driving/*
run_exp/results_walking/*
run_exp/bw_prediction/*
run_exp/bw_truth/
