video_server/
run_exp/results/
run_exp/chrome_retry_log
run_exp/out
run_exp/*mbps
run_exp/bw_prediction
cooked_traces/
rl_server/results/
rl_server/*.pyc
selenium-2.39.0/
test/cooked_traces/
test/results/
test/*.pyc
test/video_size*
selenium-2.39.0.tar.gz
google-chrome-stable*
.DS_Store
sim/*.pyc
sim/results/*
sim/cooked_test_traces/*
sim/test_results/*
run_exp/bw_prediction/*
run_exp/bw_truth/*
run_exp/results/*
run_exp/results_chunk_len/*
run_exp/results_driving/*
run_exp/results_interface_sel/*
run_exp/results_predict/*
run_exp/results_walking/*
